.bingoSquare {

}
.bingoBoard {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows: auto auto auto auto auto;
  column-gap: 10px;
  row-gap: 15px;
  margin-right: 10px;
  margin-left: 10px;
  /* width: 75%; */
}

.entryDescription {
  font-size: x-small;
}

.uploadBtn{
  margin-top: 10vh;
}

.loadingSpinner {
  display: block;
    margin-left: auto;
    margin-right: auto
}

button.createBtn {
  font-size: calc(22px + 2vmin);
  height: 15vh;
}
input.createInput {
  margin-bottom: 1vh;
  position: relative;

  /* font-size: calc(22px + 2vmin); */
  /* height: 15vh; */
}
.nameCreation{
  display: grid;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.mainPage {
  display: table;
  width:98vw;
  margin-top: 1vh;
}

.playerList {
  display: table-cell;
  width:25%;
}

.bingoWinBtn{
  grid-column-start: 3;
  height: 7vh;

}

.cover-container{
  z-index: 2;
  height: 100%;
  width:100%;
  position: absolute;
}

@media screen and (max-width: 750px) {
  .bingoBoard {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto;
    column-gap: 10px;
    row-gap: 15px;
    margin-right: 10px;
    width: 100%;
  }

  .mainPage {
    display: block;
    width:98vw;
  }

  .playerList {
    display: table-cell;
    width:25vw;
  }
}
